body{
    overflow-x: hidden;
    background-color: white;
}



.imageContainer{
    height: 75vh;
    max-width: 100%;
    background-image: url(https://media.nbcwashington.com/images/1200*675/Apple25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imageItem{
    height: 30vh;
    background-image: url(https://media.nbcwashington.com/images/1200*675/Apple25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* .row{
    padding-left: 15px;
    padding-right: 15px;
} */
.col-lg-12{
    margin-bottom: 1px;
}
.col-4{
    padding: 1px;
    border-radius: 10px;
}